.order_comment_target_managers{
	margin-top: 9px;
}
.order_comment_target_managers .delete_link{
	background: url(img/delete-icon.png);
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
}