@import 'message_box'
@import 'colors'

.ajax_loader{
    color: #000;
    font-size: 14px;
}

.hide
    display: none


body.cursor_wait
    cursor: wait !important


.link_file_upload{
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.input_file_hidden{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px !important;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}
.ck-editor__editable {
    min-height: 200px;
}
